@model Application.ViewModel.AddProductViewModel

@{
    ViewData["Title"] = "Add Product";
}
<div>
    <h1 class="text-center">Add Product</h1>
</div>

<div class="row">
    <div class="col-12 col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header bg-primary text-light">
                <h5 class="text-center">Add new Product</h5>
            </div>
            <div class="card-body">
                <form asp-controller="Market" asp-action="AddProduct" method="post">
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label">Name</label>
                        <input asp-for="Name" class="form-control"/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Price" class="form-label">Price</label>
                        <input asp-for="Price" type="number" class="form-control"/>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Descripcion" class="form-label">Descripcion</label>
                        <textarea asp-for="Descripcion" class="form-control"></textarea>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Type" class="form-label">Type</label>
                        <select asp-for="Type" class="form-select">
                            <option value="1">Fruit</option>
                            <option value="2">Vegetable</option>
                            <option value="3">Dairy</option>
                        </select>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary float-end">Save</button>
                        <a asp-controller="Market" asp-action="Index" class="btn btn-warning float-end me-2">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


